.bswPopup
{   
    background: rgba(0, 0, 0, 0.75);
    border: 0px solid #FFFFFF;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}  

#bswPanel
{
    border: 0px solid #FFFFFF;
}

.bswPopupTimeLabel
{
    -moz-binding: url('chrome://BeSeriousWatch/content/bindings.xml#bswPopupTimeLabel');
}

#timeLabel
{
   color: #FFFFFF;
   width: 180px;
   height: 30px;
   font-size: 30px;
   text-align: center;
}

#timeStrLine1
{
    position: relative;
    top: 110px;
    text-align: left;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 20px;
    font-size: 12px;
    padding-left: 10px;
    vertical-align: bottom;
    margin: 0px;
 }

#timeStrLine2
{   
    position: relative;
    top: 110px;
    text-align: left;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 20px;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
    margin: 0px;
 }
 
#timeStrContainer
 {
    padding: 0px;
    width: 180px;
    height: 150px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
 }