.bswPopup
{   
    background: rgba(0, 0, 0, 0.75);
    border: 0px solid #FFFFFF;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}  

#bswPanel
{
    border: 0px solid #FFFFFF;
}

.bswPopupTimeLabel
{
    -moz-binding: url('chrome://BeSeriousWatch/content/bindings.xml#bswPopupTimeLabel');
}

#timeLabel
{
   color: #FFFFFF;
   width: 180px;
   height: 30px;
   font-size: 30px;
   text-align: center;
   vertical-align: middle;
}

#timeImage
{
    position: relative;
    top: 0px;
    left: 10px;
    width: 180px;
    height: 150px;
    vertical-align: bottom;
}

#timeStrLine1
{
    position: relative;
    left: 4px;
    text-align: left;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 20px;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
 }

#timeStrLine2
{
    position: relative;
    left: 4px;
    text-align: left;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 20px;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
 }